.dashboard-wrapper
  aside.side-bar-area
    = render "static/shared/aside_bar", friends: @friends
  .main-area
    .top-bar
      h1.top-bar-title #{@user.name}
    .expenses-list
      - @expense_splits.each do |expense_split|
        .expense-item
          .item-lhs
            p #{expense_split.expense.date.strftime('%b %d')}
            p #{expense_split.expense.description}
          .item-rhs
            - if expense_split.expense.payer == @user 
              .you-details
                p you paid
                p $#{expense_split.expense.total_amount}
              - if expense_split.expense.total_expense_splits == 2
                .you-details
                  p you lent #{expense_split.expense.expense_splits[1].recipient.name}
                  p $#{expense_split.expense.expense_splits[1].amount}
              - else 
                .you-details
                  p you lent
                  p $#{expense_split.expense.total_amount - expense_split.amount}
            - else
              .you-details
                p #{expense_split.expense.payer.name} paid
                p $#{expense_split.expense.total_amount}
              .you-details
                p #{expense_split.expense.payer.name} lent you
                p $#{expense_split.amount}
          button.remove-btn ❌
